@using AkraTechFramework.Helpers
@{
    ViewBag.Title = "Group Assigned";
    Layout = "~/Views/shared/_LoggedInLayout.cshtml";
    string pageName = "GroupAssign";
}

<h3> Group Information</h3>

<div class="alert alert-success" style="display: none" id="successAlert">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <div id="successMessage"></div>
</div>
<div class="alert alert-danger" id="errorAlert" style="display: none">
    <button type="button" class="close" data-dismiss="alert">x</button>
    You have encountered an unexpected error.
</div>
<div id="tblItems"></div>
<div id="dialog-confirm" title="Are you sure want to delete?"></div>
@*@Html.Partial("_AddGroupAssign");*@

@*@Html.Partial("_UpdateGroupAssign");*@



<script>

    $(document).ready(pageLoad);

    
    //-------------------------------------------------------------------------------------------------//

    function pageLoad() {

        loadItems();

    }


    function loadItems() {
        $('#tblItems').jtable({
            title: 'Group Information',
            useBootstrap: true,
            paging: true,
            sorting: true,
            
            actions: {
                listAction: '@Url.Action("GetGroupDetails")'
                //deleteAction: '@Url.Action("DeleteItem/")'
            },
            
            fields: {
                GID: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                
                ItemName: {
                    title: 'Item Name',
                    width: '10%'
                    
                },
                UserName: {
                    title: 'User Name',
                    width: '5%'
                },
                Delete: {
                    display: function (data) {
                        if (data.record.UserName != 'admin')
                            return String.format("<a href='#'  onclick=\"delUser({0})\" class=\"btn btn-success btn-small\" >Delete</a>", data.record.GID);
                    },
                    width: '2%'
                }
            
            },
            toolbar: {
                items: [{
                        icon: '../../Content/images/add_icon.png',
                        text: '',
                        click: 'addGroup'
                       }]
            }
        });
        $('#tblItems').jtable('load');

    }

    //------------------------------------------------------------------------------------------------//
        function addGroup()
        {
            clearForm();
            $('#modalAddGroup').modal('show');

        }

        function editUser(GID)
        {
            $.ajax({
                url: '@Url.Action("GetGroupByID/")' + GID,
                type: 'POST',
                success: onSuccessEditUser
            });
        }

        function onSuccessEditUser(result)
        {
            //clearForm();
            //$('#edtUserID').val(result.UserID)
            //$('#edtUserName').val(result.UserName)
            //$('#edtPhone').val(result.Phone)
            //$('#edtEmail').val(result.Email)
            //$('#edtPassword').val(result.Password)

            //for (var i = 0; i < result.AccessList.length; i++) {
            //    $('#edit_MenuItem' + result.AccessList[i]).attr("checked", "checked");
            //}

            //$('#modalUpdateUser').modal('show');
        }

        function clearForm()
        {
            $(':checkbox').attr("checked", false);
        }

        function delUser(id) {
            //debugger

            $("#dialog-confirm").dialog({
                resizable: false,
                height: 140,
                modal: true,
                buttons: {
                    "Yes": function () {
                        $(location).attr('href', "/Settings/DeleteGroup/" + id);
                    },
                    "No": function () {
                        $(this).dialog("close");
                    }
                }
            });
        }

</script>
