@model dynamic

<div id="DelDocUploadFile" title="Are you sure you want to delete this image?"></div>

@using (Html.BeginForm("Upload", "Listing", FormMethod.Post, new { enctype = "multipart/form-data", @id = "frmDocUpload"}))
{
    <div class="modal hide fade" id="modalDocUpload">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Document Upload
            </h3>
        </div>
        <div class="modal-body">
            <fieldset>
                <input type="hidden"  id="RequestID" name="RequestID" value="@Model" />
                <div class="control-group">
                    <label class="control-label">
                        Select Image to Upload
                    </label>
                    <input type="file" class="span3" name="file" id="fileToUpload">
                    <span class="field-validation-error" id="spanfile"></span>
                </div>

            </fieldset>
        </div>
        <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Close
            </a>
            <button id="btnUploadAll" class="btn btn-success" type="submit" onclick="javascript:fileUpload('frmDocUpload','@Url.Action("Upload")','status');return false;">
                Upload
            </button>
            <div id="status"></div>
        </div>       
    </div>
}

<script type="text/javascript">

    function fileUpload(formName, action_url, div_id) {

        var form = document.getElementById('frmDocUpload');
        // Create the iframe...
        var iframe = document.createElement("iframe");
        iframe.setAttribute("id", "upload_iframe");
        iframe.setAttribute("name", "upload_iframe");
        iframe.setAttribute("width", "0");
        iframe.setAttribute("height", "0");
        iframe.setAttribute("border", "0");
        iframe.setAttribute("style", "width: 0; height: 0; border: none;");

        // Add to document...
        form.parentNode.appendChild(iframe);
        window.frames['upload_iframe'].name = "upload_iframe";

        iframeId = document.getElementById("upload_iframe");

        // Add event...
        var eventHandler = function () {

            if (iframeId.detachEvent) iframeId.detachEvent("onload", eventHandler);
            else iframeId.removeEventListener("load", eventHandler, false);

            // Message from server...
            if (iframeId.contentDocument) {
                content = iframeId.contentDocument.body.innerHTML;
            } else if (iframeId.contentWindow) {
                content = iframeId.contentWindow.document.body.innerHTML;
            } else if (iframeId.document) {
                content = iframeId.document.body.innerHTML;
            }

            document.getElementById(div_id).innerHTML = content;

            $('#uploadJtable').jtable('load');

            // Del the iframe...
            setTimeout('iframeId.parentNode.removeChild(iframeId)', 250);
        }

        if (iframeId.addEventListener) iframeId.addEventListener("load", eventHandler, true);
        if (iframeId.attachEvent) iframeId.attachEvent("onload", eventHandler);

        // Set properties of form...
        form.setAttribute("target", "upload_iframe");
        form.setAttribute("action", action_url);
        form.setAttribute("method", "post");
        form.setAttribute("enctype", "multipart/form-data");
        form.setAttribute("encoding", "multipart/form-data");

        // Submit the form...
        form.submit();

        document.getElementById(div_id).innerHTML = "Uploading...";
    }

    function onUpload() {        
        $('#btnUpload').prop('disabled', true);
        var data = $('#frmDocUpload').serialize();

        if ($('#frmDocUpload').valid()) {
            $.ajax({
                url: $('#frmDocUpload').attr('action'),
                type: $('#frmDocUpload').attr('method'),
                data: data,
                success: onSuccessUpload,
                error: onErrorUpload
            });
        }
        $('#btnUpload').prop('disabled', false);
    }

    function onSuccessUpload() {
        $('#successMessage').text('Document Uploaded Successfully')
        $('#successAlert').show();
        $('#uploadJtable').jtable('reload');
        $('#modalDocUpload').modal('hide');
    }

    function onErrorUpload() {
        $('#errorAlert').show();
        $('#modalDocUpload').modal('hide');
    }




    $("#btnSubmit").live("click", function () {
        if ($('#fileToUpload').val() == "") {
            $("#spanfile").html("Please upload file");
            return false;
        }
        else {
            return checkfile();
        }
    });
    function checkfile() {
        var file = getNameFromPath($("#fileToUpload").val());
        if (file != null) {
            var extension = file.substr((file.lastIndexOf('.') + 1));
            // alert(extension);
            switch (extension) {
                case 'jpg':
                case 'png':
                case 'gif':
                case 'pdf':
                    flag = true;
                    break;
                default:
                    flag = false;
            }
        }
        if (flag == false) {
            $("#spanfile").text("You can upload only jpg,png,gif,pdf extension file");
            return false;
        }
        else {
            var size = GetFileSize('fileToUpload');
            if (size > 3) {
                $("#spanfile").text("You can upload file up to 3 MB");
                return false;
            }
            else {
                $("#spanfile").text("");
            }
        }
    }

    function DelUploadDoc(id) {

        $("#DelDocUploadFile").dialog({

            resizable: true,
            height: 140,
            modal: true,
            buttons: {
                "Yes": function () {
                    debugger
                    $.ajax({
                        url: "/Listing/DeleteUploadDoc?fileID=" + id + "&requestID=" + '@Model',
                            type: 'POST',
                            success: onSuccessDelete
                        });
                },
                "No": function () {
                    $(this).dialog("close");

                }

            }


         });

        return false;
    }

    function onSuccessDelete() {
        $("#DelDocUploadFile").dialog("close")
        $('#uploadJtable').jtable('load');
    }

</script>
