<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>s
    <!--<add key="SQLServerConnectionString" value="Data Source=mssql.tarkeezsoft.com;Initial Catalog=tarkeezs_restore;User ID=tarkeez_sa;Password=sa@123" />-->
    <!--<add key="SQLServerConnectionString" value="Data Source=.;Initial Catalog=arsukeuro_mssql;Integrated Security=True"/>-->
    
    <!--<add key="SellerIndex" value="3" />
    <add key="MarketPlaceList" value="A1F83G8C2ARO7P,APJ6JRA9NG5V4,A1805IZSGTT6HS,A1RKKUPIHCS9HS,A13V1IB3VIYZZH,A1PA6795UKMFR9,ATVPDKIKX0DER"/>-->
	
    <!--<add key="SQLServerConnectionString" value="Data source=LAPTOP-NUPR82VN;Initial Catalog=arsukeuro_mssql;User ID=sa;Password=123456"/>-->
	  <add key="SellerIndex" value="2" />
	  <add key="MarketPlaceList" value="A1F83G8C2ARO7P,APJ6JRA9NG5V4,A1805IZSGTT6HS,A1RKKUPIHCS9HS,A13V1IB3VIYZZH,A1PA6795UKMFR9"/>
  
  </appSettings>
</configuration>

<!--Seller account identifiers for arsuk 

Seller ID:
AZHFRT25ZQJZ0 

Marketplace ID:
A1F83G8C2ARO7P 

Developer account identifier and credentials for developer account number 3691-2675-3644* 

AWS Access Key ID:
AKIAJMSOTR2MK4CCNCDA 

Secret Key:
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--> 


<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="SQLServerConnectionString" value="Data Source=mssql.akra-tech.com;Initial Catalog=akratech_transdemo;User ID=akratech_database;Password=sa123" />
    <add key="SellerID" value="Jumbo Deals" />
    <add key="SellerKey" value="A1NLIJLHK6R8H1"/>
    <add key="MarketplaceId" value="A1F83G8C2ARO7P"/>
    <add key="AccessKey" value="AKIAIV6RRW3H3BFCLL7Q"/>
    <add key="AuthenticationToken" value="19wH4fChKV+SzUPSqh2FHV9bMzi5TlzXVNBQ878Q"/>
  </appSettings>
</configuration>-->
