<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"/>
    <remove name="LocalMySqlServer"/>
    <remove name="LocalMySqlServer"/>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=DANISH; Initial Catalog=arsukeuro_mssql; Persist Security Info=True; User ID=sa; Password=12345;"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="Version" value="779"/>
    <add key="TimeOut" value="60000"/>
    <add key="Environment.Admin" value="admin"/>
    <add key="LogFileName" value="Log.txt"/>
    <!-- your Developer Id with eBay -->
    <add key="Environment.DevId" value="751211fd-a607-430d-a5db-fd9c73768fc8"/>
    <!-- your Application Id with eBay -->
    <add key="Environment.AppId" value="KamrulHa-SMaya-SBX-02eb4905c-32a552f3"/>
    <!-- your Application Certificate with eBay -->
    <add key="Environment.CertId" value="SBX-2eb4905cdd3c-58cd-4c53-a680-f952"/>
    <!-- API Server URL -->
    <!-- For production site use: https://api.ebay.com/wsapi -->
    <!-- For Sandbox use: https://api.sandbox.ebay.com/wsapi -->
    <add key="Environment.ApiServerUrl" value="https://api.ebay.com/wsapi"/>
    <!-- EPS Server URL sandbox-->
    <!--https://api.sandbox.ebay.com/wsapi-->
    <!-- For production site use: https://api.ebay.com/ws/api.dll"/-->
    <add key="Environment.EpsServerUrl" value="https://api.sandbox.ebay.com/ws/api.dll"/>
    <!-- eBay Signin URL -->
    <!-- For production site use: https://signin.ebay.com/ws/eBayISAPI.dll?SignIn -->
    <!-- https://signin.sandbox.ebay.com/ws/eBayISAPI.dll?SignIn -->
    <add key="Environment.SignInUrl" value="https://signin.sandbox.ebay.com/ws/eBayISAPI.dll?SignIn"/>
    <!-- ViewItem URL -->
    <!-- For production site use: http://cgi.ebay.com/ws/eBayISAPI.dll?ViewItem&amp;item={0} -->
    <add key="Environment.ViewItemUrl" value="http://cgi.sandbox.ebay.com/ws/eBayISAPI.dll?ViewItem&amp;item={0}"/>
    <!-- token is for both API server and EPS server -->
    <!--<add key="UserAccount.ApiToken" value="AgAAAA**AQAAAA**aAAAAA**7NVLUw**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wFk4GhDJGHpASdj6x9nY+seQ**qJ4CAA**AAMAAA**U4534FgMciMnoVPCpLw2rd+1qvgeq5goxEg4KXlLSjOJDztW/Yc25ruvabMZqkUyGTVrb97jnDXBhsL9Bpc6AT9wMCKDksIVdK4YsBAvtK70SrV2cMa6Scs2+NRqpGwOhcBOo4k+K8Mj8ZVG/p5Xem09V7vs+W2li3+xajfgaKECIJ0R7UmZkRtcpLRdU5BuvlyRC091eRNY+02Owg91ugdfiw+xVVb2pRevCGiyB8eZTfMhUSjMeHw76atNtWer4U0Z5wKU6+R5Lc0JRzTOm5BoMnXKCFEyikggj32hOjD8ipxtGrwOChVZBkJak5vOMd2XglvYFabOTwmzjn8LXYNuwD3jNS2RGznuaDHtfajm8mLeslNOdZ0vbvhDLxuIMkfatuKRmY/h3weLGbh6p29rKzQ3k6bubNwjNwn0q4gaKz8DXa4w4a/hEC9MJwFdmtmresCo4Wjlm7KJGiujLJDWXbd539L2uJLfZqk2rIv/gTn1Y3mSyuq/qB9LZnPbEvpTZuW4tF8wSdqbHDzVi+t6TKe1STFZAXnRn6iT9ZuVtycEedH/GdWStsICNDvwvomylgq46wlzUj97m/lZIvHkKMdsBLs+st+i/AXDAr2NWoX/TYmSouX6zBfKP3Wd3OZUR9OAeslNNLRza9WWI8Sk/gqBAFXnuq0FqrbiCRPJXwoji3YZ7GRWKz5UFZ3a+Jjec+Sx0msGj85SbylVXAkJk4SolmWrbQZwUeMytbUyoQcUEPdcqk08caC+2H34" />-->
    <!--<add key="UserAccount.ApiToken" value="AgAAAA**AQAAAA**aAAAAA**zG0ZVA**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AElICmDZiFoQ6dj6x9nY+seQ**ci8CAA**AAMAAA**JvtFkwOG8ZWmTa2/kfG68y3YIiQy+JqKBQ69w0ZI/f2pmk5tOwpjN0eLUIRdu9JKhl2k++Rdfc+GA3N2JI1setBmKlZU6BVo1U6nAPEGVi8Q9J4zEGHumkjgItvk5habFMf3KJV58RNcCqRM+Ug+EU9qODIf1ieImPsSTm3nk8xkYT2RQ1T6Q/lARnfH+PBpXh6xisu5WYYsptl2LOBQlKsguQ0lvm8kvgHHxERQY9yc2M7cBiPc3mxM6zVTs6lpljCwYHC3NqPmFhrDsEsUdMn78OCa3vkbgzrsmvgPqZO7T93/+FHfm4ooDLLFF7m7HnkFymGI1warV5q2vy4CsKjfzUiiJLsKMJtsym/XolsJhbkAsYX2Y/HxBHId3LeD4g5o/iYLXL9nHOdw/XpYpAfhcuNkq8i2/OaYB+neOjERRRpWD+rv/nhI4N+MYCUBrmEr26SYIWm11OGWUAIRSTyPTFs+6X7a/tbWu27IIRITtwq94DXCEi/YQQbdiUERoaQ7PYoj4H2oezp0PS1gLZySl2/yRK2WsdNqm8E0qkdiO6hssKcn/m+SMJ5W2k38wL6QPzpWJy6ggWI6GlIIcG9TMspnb9WXNwfdxxEPUDpN162RJ6qqpUlyrleW7Ny8XzSN4XmNmKwHo9ofRiCFqPYXb/VQy6cWY4Usrt8TrmXZKGyjnLpVoHtQu6TjAPVDdesJMqWiBfTbUKy+DNEGk2GDIkJfJyjNo7s+c0JwXqdOXxZfsO+NJGEK60WkJZa5"/>-->

    <!--Ebay SSales--><!--
    <add key="UserAccount.ApiToken" value="AgAAAA**AQAAAA**aAAAAA**j+rlXg**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AElICmDZiFoQ6dj6x9nY+seQ**YlAGAA**AAMAAA**2WbAYzVl2wCCLijI+IZkXBm4azJxUZ9lNrTKOTSZFIaawNjQhlhlVuzx7adEkpUPfDkFECnI1I8P1jixFWt/Iipj8YA5TaHtbOehb1ZbLuPHHPhd51cHxWc2GxpsEVIXvC94kxDTNj/Mz9mKauuyyX5XJO/G4s/yMVXiUmTGTxkzQ2ZbvJNsFvFrvo8mVMacOIBtmgpAg9dUB1ca2xyQLNosbBpPWjreVV7r/X/13W5ekgShOYUbh3Yl4EAThOjSyG2+VDu5HD+fZcvfgk0aUXYTYusFzWteSr40PPECT9wCXJ1Z3SoyxJ+rdVkLQsmtvikwRjvoORXMAvdIbnUjHPCjIWOi32IdzWOg7U5XtYFVRKmcPlpJljBhWUBlYsk+BOe68fkmaZiDAhNxfABUK7eJlcZ2XbAPkcDVPjywb2Cjsf47UBXoAMVzSnK/1CDJLIyVmjgzBOLmN9q1YiHOX1vGGHQcwQJe6hpXqFa7H1GYtFKMyNXTbkFFpKQX2MfrWseTrRV13X016qrlKkSucplpKuIsiVOzX9cI7hXRo/vX2iEUKNVt/zR5XH8SShgqH9r6VanxPZV79wa68G3yHOWiU+eFS4eeseFTEKyLrHWxHzP0VtF20PXInSoH/7PjaRZ4Pd1uFsUPgqkzlFQwbrfCGt89rIndZ/o/8NUjMygvXv/aicDj+IZUDz8i9Afkn91Bu1kCKs0l8O5t87V5cnepfCRzeYJ92hrDPKRmUT2jGYubsoXCXyn3NhXpop0Z"/>-->

    <!--Ebay Euro-->
    <add key="UserAccount.ApiToken" value="AgAAAA**AQAAAA**aAAAAA**s+zlXg**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AHl4CjAJCAqAWdj6x9nY+seQ**YlAGAA**AAMAAA**yarPrIotUfT8b+gQHoxaSWE2jSnl1FldqPLRs+sKDsugMz6q00It5BXYupSu93CCT+pfmpmSWW1PhXStNbsB1O0dNzrHOoQ+z4O6lkbDYwPeEcU13GxDNkZUHhFfdr3bcUJG0gFh+spOiXjivRcX82BwWPe+5F/ciqS1fuaigOc+P7BfoOaOoMNyPVShvwtT10IkX/tpGz/G2x00NwCN+6JL1FzU82u61qbmudRoLXHLxfMJMHgSKJR0yCac0Fu/G86fiivBVqJxy1Ch34sgI6NzEei0ZIDBEbjgknTsTCf85c9MvEbiowvCjHHMpLvIAoT2H+RSPpMFDfVJeFW900G6HKofr0F3q31Wn+6VynQwktRg/GqfbxmaSAHb8kArZ4cyOtca8AUaXcTzUkkrssAr7nrRchWiFyz0qtn+YzGjVSpnGeKf0affO8JNkT57BxGqzYptsENaZys8lvQXRNVOE2THg5phf6ptw7F7CSq3lrseEf19YBClv24Mfj1cJsR4XHIEyQ7sA9zescPq4kr+TZechIXVjZhy/gPGrTQjdg8taKS4lARM7qJEzzIi9xmXvETIDTzfKVvXXLa9460A/LgUJc9Tks9XOtpbPYo4kd1hjVRyketszMyTtOcAdRE7bTbPTE0GttWMgo/iCp2S1H9DUJ250OLYvARutf94gYHUwnSbwEbRx2mVrSL/PmJ05bMEbwWGCEdLdh2EOcQlXR2wVrBmaqqlTXfI/+kItFz8S0phpGtucfRDHdBG"/>
    <!-- eBay site ID -->
    <add key="UserAccount.eBayUserSiteId" value="0"/>
    <add key="logexception" value="true"/>
    <add key="logmessages" value="true"/>
    <add key="logsdkmessages" value="true"/>
    <add key="logsdk" value="true"/>
    <add key="logfile" value="Log.txt"/>
    <!-- Rule Name-->
    <add key="RuName" value=""/>
    <!-- Set this if you access eBay API server behind a proxy server-->
    <add key="Proxy.Host" value=""/>
    <add key="Proxy.Port" value=""/>
    <!-- set proxy server username/password if necessary-->
    <add key="Proxy.Username" value=""/>
    <add key="Proxy.Password" value=""/>
  </appSettings>
  <system.web>
    <httpRuntime/>
    <compilation targetFramework="4.0" debug="true"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Home" slidingExpiration="true" timeout="212432000"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <customErrors mode="Off" defaultRedirect="~/Error"/>
    <sessionState timeout="2000"/>
  </system.web>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="ErrorLog//ErrorLog.txt"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <!--If root was uncommented, there would be two duplicated lines displayed in log.-->
    <!--<root>
      <level value="ALL"/>
      <appender-ref ref="FileAppender"></appender-ref>
    </root>-->
    <logger name="log4net-FileAppender">
      <level value="All"/>
      <appender-ref ref="FileAppender"/>
    </logger>
  </log4net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions> -->
</configuration>